<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>All chats</h3>
    <form action="/chats/new" method="get">
        <button>New Chat</button>
    </form>
    <br>
    <% for(chat of chats) { %>
        <div class="chat">
            <p>From: <%= chat.from %> </p>
            <div class="msg">
                <p>message : <%= chat.msg %> </p>
                <form method="GET" action="/chats/<%= chat.id %>/edit">
                    <button class="btn1">edit</button>
                </form>
                <form method="POST" action="/chats/<%= chat.id %>?_method=DELETE">
                    <button class="btn2">delete</button>
                </form>
            </div>
            <p>Received by : <%= chat.to %> </p>
            <hr>
            <p><%= chat.created_at.toString().split(" ")[4] %> <br></p>
            <p><%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %> <br></p>
        </div>
        <br><br>
    <% } %>
</body>
</html>
